<!--StartNavigation-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" style="margin-left: 20px ;">Loja de Roupas</a>
        <div class="navigator">

        </div>
        <!-- Example single danger button -->
        <div class="navigatorTwo">
            <a class="navbar-brand" [routerLink]="['/home']">Home</a>
            <a class="navbar-brand" [routerLink]="['/sobre']">Sobre</a>
            <a class="navbar-brand" [routerLink]="['/camisas']">Camisas</a>
            <a class="navbar-brand" [routerLink]="['/Tenis']">Tenis</a>
            <a class="navbar-brand" [routerLink]="['/featur-data-binding']">Feactures</a>
            <a [routerLink]="['/carrinho']"><img src="../../../assets/Carrinho/carrinho3.png" alt="" height="40px"
                    width="40px" style="margin-left: 40px;"></a>

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

        </div>
    </div>
</nav>
<!-- Fim nav -->