<!--StartNavigation-->
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Minha primeira SPA</a>
        <div class="navigator">

        </div>
        <!-- Example single danger button -->
        <div class="navigatorTwo">
            <a class="navbar-brand" [routerLink]="['/home']">Home</a>
            <a class="navbar-brand" [routerLink]="['/sobre']" style="margin-left: 15px;">Sobre</a>
            <a class="navbar-brand" [routerLink]="['/camisas']" style="margin-left: 15px;">Camisas</a>
            <a class="navbar-brand" [routerLink]="['/Tenis']" style="margin-left: 15px;">Tenis</a>
            <a class="navbar-brand" [routerLink]="['/featur-data-binding']" style="margin-left: 15px;">Demos</a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

        </div>
    </div>
</nav>
<!-- Fim nav -->