<h4 style="margin-top:90px ;">{{item}}</h4>
<br>
<button (click)="contador()">Oi</button>
<h1>{{contador1}}</h1>
<br><br>
<p *ngFor="let nomes1 of arrayDeNomes">
    <b>Nome: {{nomes1.nome}} <br> Idade: {{nomes1.idade}}</b>
</p>
<p></p>
<br>
<br>
<button [disabled]="buutonFalse">Salvar</button>
<br>
<p>Teste - {{teste | date}}</p>
<div>
    <button type="button" (click)="dec()" title="smaller">-</button>
    <button type="button" (click)="inc()" title="bigger">+</button>
    <span [style.font-size.px]="size">FontSize: {{size}}px</span>
</div>
<div>
    <div *ngFor="let nomesOne of arrayDeNomes">
        <p *ngIf="nomesOne.nome == 'Jesus' && nomesOne.idade == 18">Nome - {{nomesOne.nome}} Idade -
            {{nomesOne.idade}}</p>
    </div>
    <p *ngIf="numberIf == 101">{{numberIf}}</p>
</div>