<div class="teste" style="margin-top: 70px;">
    <h1>{{carrinho}}</h1>
</div>
<br>
<br>

<button class="btn btn-info" [disabled]="">Teste</button>
<br>
<img [src]="imagem" alt="" height="50px" width="50px" style="margin-left: 50px;">
<br>
<button class="btn btn-warning" (click)="adicionandoNoCarrinho()">Adicionar</button>

<button class="btn btn-warning" style="margin-left:90px ;" (click)="removerUmProduto()">Excluir</button>
<br>
<br>
<input type="text" [(ngModel)]="nome" style="margin-left: 90px;">
<br>
<label style="margin-left: 90px;"> Seu nome é {{nome}}</label><br><br>
<label style="margin-left: 90px;">Digite seu nome</label><br>
<input type="text" style="margin-left: 90px;" value="{{nome1}}"><br>
<button class="btn btn-warning" style="margin-left: 90px;" (click)="MostrarNomeApartirDeUmClick()">Cadastra</button><br>
<h1>{{armazena}}</h1>