<div class="container main-container">
    <div class="row text-center">
        <div *ngFor="let produto of produtos" class="col-md-4"
            style="padding-bottom:0px; margin-top: 90px; height: 450px; margin-bottom: 90px;">
            <div class="card h-100" style="width: 350px;">
                <a class="text-decoration-none" [routerLink]="['/produto-detalhe',produto.id]">
                    <div style="align-content:center; margin-top: 50px;">
                        <img src="/assets/{{produto.imagem}}" alt="" height="184px" width="253px">
                    </div>
                </a>
                <h4 class="card-title">{{produto.nome | titlecase}}</h4>

                <div [ngSwitch]="produto.promocao">
                    <p *ngSwitchCase="true" style="color: blue;">Produto em promoção!</p>
                    <p *ngSwitchCase="false">Por apenas</p>
                </div>

                <div *ngIf="produto.promocao" class="card-body">
                    <div>
                        <h4 class="card-text">De: <small><del>{{produto.valor | currency:'BRL'}}</del></small>
                            Por: {{produto.valorPromocao | currency:'BRL'}}
                        </h4>
                    </div>
                </div>
                <div *ngIf="!produto.promocao" class="card-body">
                    <div>
                        <h4 class="card-text">Por: {{produto.valor | currency:'BRL'}}
                        </h4>
                    </div>
                </div>
                <div class="card-footer" style="margin-bottom:px;">
                    <a class="btn btn-primary">
                        <samp class="fa fa-shopping-cart"></samp>Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>