.navbar-brand {
    margin-left: 15px;
}

.navbar-toggler {
    margin-right: 20px;
}

.navigator {
    margin-left: 190px;
    margin-right: 105px;
}

.container-fluid {
    display: flex;

}

.navigatorTwo {
    font-size: 10px;
}

.col-lg-2 {
    display: block;
    margin-top: 50px;


}

.card {
    margin-top: 60px;
}